
.page {
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background-color: #1d1d1d;
    overflow: auto !important;
}

.card {
    color: white;
    background-color: #2d2d30;
    max-width: 600px;
    max-height: 700px;
    line-height: 2em;
}

