
.page {
    color: white;
    display: flex;
    height: 100%;
    background-color: #1d1d1d;
}

.row {
    margin: 10ch auto;
    display: flex;
    justify-content: center;
}

.card {
    color: white;
    background-color: #2d2d30;
    line-height: 2em;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 45ch;
    width: 45ch; 
}

.project-card .card-img-top {
    height: 50%; 
    object-fit: cover;
}

.form {
    width: 50ch;
}



.bi-linkedin {
    color: #0e76a8;
    font-size: 3ch;
}

.bi-github {
    color: #6f42c1;
    font-size: 3ch;
}