* {
    font-family: 'Montserrat', sans-serif;
}

.NavMenu {    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavLink {
    color: white;
    text-decoration: none;
}

.NavLink:hover {
    text-decoration: underline !important;
    color: white;
}

