.progressBar {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}

.progressValue {    
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.bootsProgress {
    animation: bootsload 3s normal forwards;
}
.expressProgress {
    animation: exload 3s normal forwards;
}
.nodejsProgress {
    animation: nodeload 3s normal forwards;
}
.mongodbProgress {
    animation: mongoload 3s normal forwards;
}
.reactProgress {
    animation: reactload 3s normal forwards;
}
.jsProgress {
    animation: jsload 3s normal forwards;
}

@keyframes bootsload { 0% { width: 0 } 100% { width: 85% }}
@keyframes exload { 0% { width: 0 } 100% { width: 45% }}
@keyframes nodeload { 0% { width: 0 } 100% { width: 65% }}
@keyframes mongoload { 0% { width: 0 } 100% { width: 55% }}
@keyframes reactload { 0% { width: 0 } 100% { width: 65% }}
@keyframes jsload { 0% { width: 0 } 100% { width: 75% }}

.colored {
    font-size: 4ch;
}